$stats__color: gold;
$stats__margin: .4vh 0;
$stats__font-size: 1.5vw;
$stats__width: fit-content;
$stats-value__color: #C0C0C0;

.stats {
  width: $stats__width;
  margin: $stats__margin;
  color: $stats__color;
  font-size: $stats__font-size;

  .stats__value{
    color: $stats-value__color;
  }
}
