$information__padding-right: 1vw;
$information-span__margin: 0.3vh 0 0.3vh 0;
$information-span__border: 1px solid gold;
$information-span__flex: 1 0;
$information-on__background-color: green;

.information {
  display: flex;
  justify-content: space-between;
  padding-right: $information__padding-right;

  span {
    margin: $information-span__margin;
    border: $information-span__border;
    flex: $information-span__flex;
  }

  .on {
    background-color: $information-on__background-color;
  }
}
