
.information {
  display: flex;
  justify-content: space-between;
  padding-right: 1vw;
}

.information span {
  margin: .3vh 0 .3vh 0;
  border: 1px solid gold;
  flex: 1 0;
}

.on {
  background-color: green;
}
