$leftPart-and-contentTop-bottom__width: 100%;

$leftPart-buttons__background-color: rgba(0, 0, 0, 0);
$leftPart-buttons__border-radius: 8px;
$leftPart-buttons__height-width: fit-content;
$leftPart-buttons__outline: none;
$leftPart-back-button__height-width: 5vh;
$leftPart-divContent__margin: 5vh 5vh 5vh 0;
$leftPart-divContent__height: 85vh;
$leftPart-divContent__width: 90%;
$leftPart-divContent__background-color: rgba(0, 0, 0, 0.7);
$leftPart-divContent__border-radius: 50px;
$leftPart-divContent__padding: 5%;
$leftPart-image__height: 50vh;
$leftPart-image__width: 40vh;
$leftPart-contentBottom-lvlPainel-buttons__border-radius: 50%;
$leftPart-lvlPainel-input__width: 3vh;
$leftPart-lvlPainel-input__color: black;
$leftPart-contentBottom__margin-top: 1vh;

@mixin leftPart-buttons($painelLvl) {
    height: $leftPart-buttons__height-width;
    width: $leftPart-buttons__height-width;
    outline: $leftPart-buttons__outline;
    background-color: $leftPart-buttons__background-color;
    border-radius: $leftPart-buttons__border-radius;

    @if $painelLvl {
        border-radius: $leftPart-contentBottom-lvlPainel-buttons__border-radius;
        margin: 0 .5rem;
    }
}

.leftPart {
    grid-area: left-part;
    display: flex;

    width: $leftPart-and-contentTop-bottom__width;

    .back-button {
        height: $leftPart-back-button__height-width;
        width: $leftPart-back-button__height-width;
        background-color: $leftPart-buttons__background-color;

        border: none;
    }

    .leftPart__divContent{
        margin: $leftPart-divContent__margin;
        width: $leftPart-divContent__width;
        height: $leftPart-divContent__height;
        background-color: $leftPart-divContent__background-color;
        border-radius: $leftPart-divContent__border-radius;
        padding: $leftPart-divContent__padding;
        box-shadow: 10px 5px 10px 7px black;
        display: flex;
        flex-direction: column;
        align-items: center;

        .leftPart__contentTop {
            width: $leftPart-and-contentTop-bottom__width;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .leftPart__image {
                height: $leftPart-image__height;
                width: $leftPart-image__width;
            }
            
            .leftPart__contentTop__buttonLeft {
                @include leftPart-buttons(false)
            }

            .leftPart__contentTop__buttonRight {
                @include leftPart-buttons(false)
            }
        }

        .leftPart__contentBottom {
            width: $leftPart-and-contentTop-bottom__width;
            margin-top: $leftPart-contentBottom__margin-top;

            .leftPart__contentBottom__lvlPainel {
                display: flex;
                justify-content: center;
                align-items: center;

                .leftPart__lvlPainel__buttonDash {
                    @include leftPart-buttons(true);
                }

                .leftPart__lvlPainel__input {
                    width: $leftPart-lvlPainel-input__width;
                    color: $leftPart-lvlPainel-input__color;
                    text-align: center;
                    cursor: default;

                    &:focus {
                        outline: none;
                    }
                }

                .leftPart__lvlPainel__buttonPlus {
                    @include leftPart-buttons(true)
                }
            }

            .leftPart__contentBottom__Info {
                height: 25vh;
                width: 98%;
                margin-left: 1vw;
                display: grid;
                grid-template-areas: 'left-stats right-stats';
                grid-template-columns: 40% 1fr;
                grid-template-rows: 20% 20% 20% 20% 20%; 
            }

            
        }
    }
}
