$rightPart__shadows: 10px 8px 10px 7px black;
$rightPart__color: gold;
$rightPart__borders-radius: 50px;
$rightPart__backgrounds-color: rgba(0, 0, 0, 0.7);
$rightPart-header__padding: 1.5vh;
$rightPart-header__text-align: center;
$rightPart-Tags-span__padding: .8vh;
$rightPart-Tags-span__margin: 0 1vh;
$rightPart-info__height: 7vh;
$rightPart-info__width: 95%;
$rightPart-info__padding: 1.5vh;
$rightPart-info__grid-template-columns-rows: 50% 50%;

@mixin properties($mixin-margin, $mixin-padding, $mixin-height, $mixin-width) {
    height: $mixin-height;
    width: $mixin-width;
    border-radius: $rightPart__borders-radius;
    background-color: $rightPart__backgrounds-color;
    box-shadow: $rightPart__shadows;
    margin: $mixin-margin;
    padding: $mixin-padding;
}

.rightPart {
    grid-area: right-part;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $rightPart__color;

    .rightPart__header{
        @include properties(none, $rightPart-header__padding, none, none);
        text-align: $rightPart-header__text-align;
        margin-bottom: 3vh; //por enquanto
    }

    .rightPart__tags {
        margin-bottom: 3vh; //por enquanto
        
        span {
            @include properties($rightPart-Tags-span__margin, $rightPart-Tags-span__padding, none, none);
        }
    }


    .rightPart__info {
        @include properties(none, $rightPart-info__padding, $rightPart-info__height, $rightPart-info__width);
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-bottom: 3vh; //por enquanto
    }

    .rightPart__lore{
        @include properties(none, 2vh, none, 95%);
        margin-bottom: 3vh; //por enquanto
    }
}
