$header-elements__border-radius: 10px;
$header-elements__text-transform: uppercase;
$header-buttons__background-color: rgb(0, 0, 0);
$header-buttons__border: 3px gold solid;

$header-input__text-color: black;
$header-input__width: 15vw;
$header-input__height: 5vh;
$header-input__font-size: larger;
$header-input__padding: 10px;
$header-input__margin-right: 30px;

$header-button-search__text-color: gold;
$header-button-search__height: 4vh;
$header-button-search__padding: 7px;
$header-button-search__transition: filter 0.2s;
$header-button-search__hover-filter: brightness(2.5);
$header-button-search__hover-disabled-filter: none;

.onclick {
  filter: brightness(2.5);
}

.header {
  background-color: $header-buttons__background-color;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__searchField {
  .header__inputChampion {
    width: $header-input__width;
    height: $header-input__height;
    color: $header-input__text-color;
    border-radius: $header-elements__border-radius;
    font-size: $header-input__font-size;
    padding: $header-input__padding;
    text-transform: $header-elements__text-transform;
    margin-right: $header-input__margin-right;

    &:focus {
      outline: $header-buttons__border;
    }
  }

  .header__buttonSearch {
    color: $header-button-search__text-color;
    text-transform: $header-elements__text-transform;
    height: $header-button-search__height;
    padding: $header-button-search__padding;
    background-color: $header-buttons__background-color;
    border-radius: $header-elements__border-radius;
    cursor: pointer;
    transition: filter $header-button-search__transition;

    &:hover:not(:disabled) {
      filter: $header-button-search__hover-filter;
    }

    &:disabled {
      cursor: default;
      filter: $header-button-search__hover-disabled-filter;
    }
  }
}
