$header-buttons__background-color: rgb(0, 0, 0);
$header-buttons__border: 3px gold solid;

@mixin define-borders($border-value, $border-right, $border-left) {
    border: $border-value;
    
    @if $border-right != '' {
        border-right: $border-right;
    }

    @if $border-left != '' {
        border-left: $border-left;
    }
}

.onclick {
    filter: brightness(2.5);
}

.header {
    background-color: $header-buttons__background-color;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__filterButtons {
    button {
        background-color: $header-buttons__background-color;
        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(2.5);
        }
    }

    .header__buttonFighter {
        @include define-borders($header-buttons__border, none, '');
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .header__buttonTank {
        @include define-borders($header-buttons__border, none, none);
    }
    
    .header__buttonAssassins {
        @include define-borders($header-buttons__border, none, none);
    }
    
    .header__buttonMage {
        @include define-borders($header-buttons__border, none, none);
    }
    
    .header__buttonSupport {
        @include define-borders($header-buttons__border, none, none);
    }
    
    .header__buttonMarksman {
        @include define-borders($header-buttons__border, '', none);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    img {
        height: 10vh;
        width: 10vh;
    }
}

.header__searchField {
    .header__inputChampion {
        width: 15vw;
        height: 5vh;
        color: black;
        border-radius: 10px;
        font-size: larger;
        padding: 10px;
        text-transform: uppercase;
        margin-right: 30px;

        &:focus {
            outline: $header-buttons__border;
        }
    }

    .header__buttonSearch {
        color: gold;
        text-transform: uppercase;
        height: 4vh;
        padding: 7px;
        background-color: black;
        border-radius: 10px;
        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(2.5);
        }
    }
}
