$Svgs-arrows__background-color: rgba(0, 0, 0, 0);
$Svgs-arrows__color: gold;

@mixin icons-colors {
  background-color: $Svgs-arrows__background-color;
  color: $Svgs-arrows__color;
}

.left-arrow,
.right-arrow,
.back-arrow,
.dash-circle,
.plus-circle {
  @include icons-colors();
}
