$Svgs-arrows__background-color: rgba(0, 0, 0, 0);
$Svgs-arrows__color: gold;

@mixin icons-colors {
  background-color: $Svgs-arrows__background-color;
  color: $Svgs-arrows__color;
}

.left-arrow {
  @include icons-colors()
}

.right-arrow {
  @include icons-colors()
}

.back-arrow {
  @include icons-colors()
}

.dash-circle {
  @include icons-colors()
}

.plus-circle {
  @include icons-colors()
}
