$Svgs-arrows__background-color: rgba(0, 0, 0, 0.1);
$Svgs-arrows__color: gold;

.left-arrow {
  background-color: $Svgs-arrows__background-color;
  color: $Svgs-arrows__color;
}

.right-arrow {
  background-color: $Svgs-arrows__background-color;
  color: $Svgs-arrows__color;
}