$skill__margin:.8vh 0;

.skill {
  margin: $skill__margin;

  .skill__header {

    .skill__header__leftPart{
      display: flex;
      align-items: center;
      
      .skill__header__leftPart__image{
        margin-right: 1vw;
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
      }
    
      .skill__header__leftPart__passive {
        background-color: rgba(255, 0, 0, 0.4);
        margin-left: 1vw;
        border-radius: 15px;
        padding: .5vh;
      }
    }
  }

  .skill__main{

    .skill__main__description {
      text-indent: 2vw;
    }
  }
}
